h1 {
	text-align: center;

}

#boxMenu {
	border: 1px solid black;

}

.row {

	width: 100%;
}

@media (min-width: 992px) {
	.col-1, .col-2, .col-3 {

		width: 33%;
	}

}

@media (min-width: 768px and max-width: 991px) {


}

@media (max-width: 767px) {


}